.productsLeft h2 {
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.products {
  display: flex;
  gap: 40px;
  margin: 120px 0;
}

.productsLeft {
  width: calc(35% - 20px);
}

.productsLeft img {
  width: 100%;
  border-radius: 40px;
}

.productsLeft h2 {
  text-align: left !important;
  height: 50px;
}

.productsRight {
  padding-top: 70px;
  position: relative;
  width: calc(65% - 20px);
}

.productsRight p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.productsCol {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 35px 0;
}

.productsCol span {
  font-weight: 900 !important;
  font-size: 70px !important;
  line-height: 88px !important;
  color: #a8c686 !important;
}

.productsSwiper img {
  border-radius: 24px;
}

@media (max-width: 1439px) {
  .products {
    padding: 0 20px;
  }
  .productsSwiper {
    width: calc(100% - 60px);
  }
  #customNext {
    right: 0;
    bottom: 20px !important;
  }
  #customPrev {
    left: 0;
    bottom: 20px !important;
  }
}
@media (max-width: 1023px) {
  .products {
    margin: 80px 0 100px 0;
    flex-direction: column;
  }
  .productsSwiper {
    margin-bottom: 30px;
  }
  .productsLeft h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .productsLeft,
  .productsRight {
    width: 100%;
    padding-top: 0;
  }
  .productsRight p {
    font-size: 14px;
    line-height: 18px;
  }
  .desc {
    display: none !important;
  }
  .imageBlock {
    min-height: 360px;
    padding: 0 30px 60px 0;
    display: flex;
    justify-content: flex-start;
    background: #fff;
    border-radius: 18px;
    position: relative;
  }
  .imageBlock img {
    width: calc(100% - 70px);
    height: auto;
    object-fit: contain;
  }
  .productsCol {
    flex-direction: column;
    font-size: 20px;
    line-height: 25px;
    width: 100px;
    margin: 0;
    position: absolute;
    right: 40px;
    bottom: 40px;
    gap: 0;
  }
  .productsCol span {
    font-size: 60px !important;
    line-height: 75px !important;
  }
  #customPrev,
  #customNext {
    bottom: -70px !important;
  }
  #customPrev {
    left: calc(50% - 70px) !important;
  }
  #customNext {
    right: calc(50% - 70px) !important;
  }
}
