.faqSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
  margin-top: 70px;
}

.faqTitle {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 30px;
}

.item {
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
}

.header {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #2e2e2e;
  cursor: pointer;
  transition: background 0.2s;
}

.header > span {
  font-weight: 700;
  font-size: 18px;
}

.icon {
  width: 48px;
  height: 48px;
  font-size: 46px;
  color: #000;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #f8f9fb;
  display: inline-flex;
  padding: 12px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
}

.open {
  max-height: 500px;
  padding: 5px 20px 20px;
}

ul {
  list-style: disc;
  padding: 0 0 0 18px;
}
