.contactsPage {
  margin-top: 70px;
}
.mapBlcok {
  display: flex;
  gap: 20px;
  height: 335px;
}
.textBlcok {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33% - 10px);
  height: 100%;
}
.textBlcok h1 {
  font-family: "Mulish", sans-serif;
  font-size: 42px;
  line-height: 110%;
  font-weight: 500;
  color: #000;
}
.textBlcok p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
.textBlcok button,
.buttonsBlock button {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 0;
  gap: 10px;
  background: #a8c686;
  border-radius: 12px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.tg {
  background: #fff !important;
  border: 2px solid #a8c686;
  color: #a8c686 !important;
}
.tgIcon {
  background: #a8c686;
  border-radius: 6px;
  padding: 4px;
  width: 24px;
  height: 24px;
}
.buttonsBlcok {
  display: flex;
  gap: 20px;
}
.mapBlcok iframe {
  width: calc(67% - 10px);
  height: 100%;
  border-radius: 24px;
}
.contactsBlock {
  display: flex;
  justify-content: space-between;
  gap: 20;
  margin-top: 30px;
}
.contactsBlock > div {
  width: calc((100% / 3) - (40px / 3));
  background: #ffffff;
  border-radius: 18px;
  padding: 23px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.contactsBlock > div > div {
  display: flex;
  align-items: center;
}
.contactsBlock a {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #2e2e2e;
}
.contactsBlock svg {
  display: inline-block;
  margin-right: 10px;
}
.mob {
  display: none;
}
@media (max-width: 1438px) {
  .contactsPage {
    margin-top: 20px;
    padding: 0 20px;
    overflow: hidden;
  }
}
@media (max-width: 1023px) {
  .mob {
    display: flex;
  }
  .desk {
    display: none;
  }
  .mapBlcok {
    height: auto;
  }
  .textBlcok {
    width: 100%;
  }
  .textBlcok h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 40px 0 20px 0;
  }
  .mapBlcok iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
  .contactsBlock > div {
    width: 100%;
  }
  .contactsBlock > div:nth-child(2),
  .contactsBlock > div:nth-child(3) {
    display: none;
  }
  .buttonsBlock {
    gap: 10px;
    justify-content: space-between;
    margin: 30px 0 80px 0;
  }
  .buttonsBlock button {
    width: calc(50% - 5px);
  }
}
