.stageNumber {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 220px;
  text-align: center;
  color: #ffffff;
}
.stages {
  display: flex;
  justify-content: space-between;
}
.stage {
  position: relative;
  width: 267px;
  border-radius: 30px;
  background: linear-gradient(
    156.26deg,
    #ececec -12.45%,
    #f6f6f6 43.11%,
    #ececee 105.48%
  );
  padding: 30px 30px 68px 30px;
}
.stageText {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
  margin: 15px 0 5px 0;
  max-width: 850px;
}
.stageLink {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background: #ffffff;
}
.stageLink svg {
  width: 22px;
  height: 22px;
}
.stageLinkGr {
  background: #cbcbcb;
}
.stageLinkGreen {
  background: #e8f1e0;
  border: 1px solid #ffffff;
}
.stageLong {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  background: linear-gradient(
    156.26deg,
    #ececec -12.45%,
    #f6f6f6 43.11%,
    #ececee 105.48%
  );
  border-radius: 30px;
  padding: 30px;
  margin: 30px 0;
}
.stageLong .stageNumber {
  line-height: 150px;
}
.l_gr {
  background: #e8f1e0 !important;
}
.l_bl {
  background: #fff !important;
}
.l_bl .stageNumber {
  color: #e8f1e0 !important;
}
.boldText {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #2e2e2e;
}
.headBlock {
  display: flex;
  margin: 60px 0;
}
.headBlock > div,
.headBlock > img {
  width: 50%;
  border-radius: 24px;
  object-fit: cover;
}
.headBlock h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 20px;
}
.headBlock p {
  max-width: 400px;
  margin-right: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
}
.cardsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cardsBlockItem {
  margin-top: 20px;
  width: calc((100% / 3) - (40px / 3));
  background: linear-gradient(
    156.26deg,
    #ececec -12.45%,
    #f6f6f6 43.11%,
    #ececee 105.48%
  );
  border-radius: 30px;
  padding: 15px;
}
.cardsBlockItem.green {
  position: relative;
  background: #a8c686;
  padding: 30px;
}
.cardsBlockItem p {
  margin: 25px 15px 10px 15px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.littleText {
  margin: 0 15px 10px 15px !important;
  font-family: "Mulish", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #272727 !important;
}
.human {
  width: 100%;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}
.cardsBlockItem.green .grTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.cardsBlockItem.green .grText {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.cardsBlockItem.green img {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 50px;
}
.onlyText {
  margin: 100px 0;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
}
.onlyText h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.stagesBlock > p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 30px;
}
.greenBlock {
  display: flex;
  gap: 30px;
  background: #a8c686;
  border-radius: 24px;
  padding: 40px;
  margin: 60px 0 40px 0;
}
.greenBlock > p,
.greenBlock > div {
  width: calc(50% - 15px);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.greenBlock > div p {
  font-size: 14px !important;
  line-height: 17px !important;
  margin-top: 10px;
}
.greenBlock span {
  text-decoration-line: underline;
}
.buttonBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 10px;
}
.buttonBlock button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 30px;
  background: #a8c686;
  border-radius: 12px;
}
.buttonBlock span {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.buttonBlock p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #707070;
}
.mob {
  display: none;
}

@media (max-width: 1438px) {
  .headBlock {
    padding: 0 20px;
  }
  .cardsBlock {
    padding: 0 20px;
  }
  .stagesBlock {
    padding: 0 20px;
  }
  .onlyText {
    padding: 40px 20px;
  }
}

@media (max-width: 1023px) {
  .desk {
    display: none;
  }
  .mob {
    display: flex;
  }
  .headBlock {
    flex-direction: column;
  }
  .headBlock h1 {
    font-size: 20px;
    line-height: 100%;
  }
  .headBlock .mob {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    margin-top: 20px;
  }
  .headBlock > div,
  .headBlock > img {
    width: 100%;
  }
  .headBlock > img {
    height: 460px;
  }
  .stageText {
    font-size: 14px;
    line-height: 18px;
  }
  .stageLink {
    bottom: 20px;
    right: 20px;
  }
  .stages {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 40px;
  }
  .stages .stageText {
    font-size: 16px;
  }
  .stage {
    height: 440px;
  }
  .cardsBlock {
    flex-direction: column;
  }
  .cardsBlockItem {
    width: 100%;
    padding: 10px 10px 30px 10px;
  }
  .cardsBlockItem.green {
    display: none;
  }
  .human {
    height: 270px;
  }
  .onlyText h2 {
    font-size: 22px;
  }
  .onlyText li {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 140%;
  }
  .greenBlock {
    flex-direction: column;
    padding: 40px 30px;
  }
  .greenBlock > p,
  .greenBlock > div {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
  }
}
