.videoBlock {
  width: 1400px;
  left: -70px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
}

.videoLeftBlock {
  width: 500px;
  background: #ffffff;
  border-radius: 40px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videoPrev {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2e2e2e;
}

.videoTitle {
  font-family: "Mulish";
  font-weight: 600;
  font-size: 26px;
  line-height: 33px;
  color: #2e2e2e;
}

.videoTitle span {
  font-weight: 900;
}

.videoText {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3d3d3d;
  margin: 10px 0;
}

.videoTextGrid span {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.videoTextGrid p {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
  color: #a8c686;
}

.videoTextGrid > div {
  display: inline-flex;
  flex-direction: column;
  width: 33.33%;
  margin-bottom: 10px;
}

.videoLeftBlock button {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 29px;
  gap: 10px;
  background: #a8c686;
  color: #fff;
  border-radius: 12px;
}

.videoPrev.mob {
  display: none !important;
}

@media (max-width: 1439px) {
  .videoBlock {
    width: 100%;
    left: auto;
    padding: 0 20px;
  }
  .videoLeftBlock {
    width: 440px;
    padding: 40px;
  }
}
@media (max-width: 1023px) {
  .videoPrev.mob {
    display: block !important;
  }
  .videoPrev.desk {
    display: none !important;
  }
  .videoBlock {
    width: 100%;
    padding: 20px;
    left: auto;
    flex-direction: column-reverse;
    margin-bottom: 0 !important;
  }
  .videoLeftBlock {
    width: 100%;
    background: none;
    padding: 0;
  }
  .videoPrev {
    font-size: 10px;
    line-height: 13px;
  }
  .videoTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .videoTitle span {
    font-weight: 800;
  }
  .videoText {
    font-size: 14px;
    line-height: 18px;
  }
}
