.formBlock {
  display: flex;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
  margin-bottom: 150px;
}
.formBlock > * {
  width: 50%;
}
.formBlock h3 {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 10px;
}
.formBlock p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.formBlock input {
  width: 190px;
  padding: 16px 40px;
}
.agreeRow a {
  color: #a8c686;
  text-decoration: none;
}
.agreeRow a:hover {
  text-decoration: underline;
}
.submitBtn {
  align-items: center;
  padding: 20px 15px;
  background: #a8c686;
  border-radius: 12px;
  max-width: 300px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 20px;
}
.checkboxAgree {
  appearance: none;
  -webkit-appearance: none;
  width: 18px !important;
  height: 18px !important;
  padding: 0 !important;
  border: 2px solid #000 !important;
  padding: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}
.checkboxAgree:checked {
  background-color: #fff;
}
.checkboxAgree:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 5px;
  height: 9px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.invalidCheckbox {
  border-color: red;
}
.agreeRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-top: 10px;
}
@media (max-width: 1438px) {
}
@media (max-width: 1023px) {
  .formBlock {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 20px;
  }
  .formBlock * {
    width: 100%;
  }
  .formBlock h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  .formBlock p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .formBlock input,
  .submitBtn {
    max-width: 500px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .agreeRow {
    max-width: 500px;
  }
  .agreeRow * {
    font-size: 12px;
    line-height: 15px;
  }
  .agreeRow input {
    margin: 0 5px 0 0;
  }
  .formBlock form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
