.timelineContainer {
  margin: 150px 0;
}
.timelineContainer h2 {
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.custom-pagination {
  bottom: -30px;
}
.timeline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.timelineItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 33vh;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0.5rem 1rem;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 83px;
  line-height: 104px;
  color: #e6e6e6;
}
.timelineItem:not(:first-child):not(:last-child) .date {
  height: 365px !important;
  border-radius: 0 !important;
}
.timelineItem:first-child .date {
  height: 325px !important;
  bottom: -25px !important;
  border-radius: 12px 12px 0 0 !important;
}
.timelineItem:last-child .date {
  height: 325px !important;
  top: -25px !important;
  border-radius: 0 0 12px 12px !important;
}
.date.true span {
  color: #a8c686 !important;
}
.content {
  position: absolute;
  width: 360px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  z-index: 2;
  text-align: left;
}
.contentText {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
}
.content h3 {
  max-width: 150px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}
.left {
  left: 10%;
}
.right {
  right: 10%;
}
.percent {
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #59802d;
  background: #e8f1e0;
  border-radius: 62px;
  padding: 10px 15px;
}
.bridge,
.bridgeMob {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 120px;
  background: #fff;
  border-radius: 4px;
  transform: translateY(-50%);
  z-index: 1;
}
.bridgeMob {
  display: none;
}
.bridge::before,
.bridge::after,
.bridgeMob::before,
.bridgeMob::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #f4f8fa;
  border-radius: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.bridge::before {
  top: -10px;
}
.bridge::after {
  bottom: -10px;
}
.left .bridge {
  right: -30px;
}
.right .bridge {
  left: -30px;
}
.status {
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #cbcbcb;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  gap: 10px;
  background: #f4f8fa;
  border-radius: 40px;
}
.status.true {
  color: #59802d !important;
}
.status span {
  width: 19px;
  height: 19px;
  background: #cbcbcb;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 14px rgba(168, 198, 134, 0.27);
  border-radius: 40px;
}
.status.true span {
  background: #a8c686 !important;
}
.timelineBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timelineBox div {
  position: relative;
  width: 250px;
}
.timelineBox img {
  position: absolute;
  width: 33%;
  left: 3%;
  bottom: 0;
}
.timelineBox p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #4a4a4a;
}
.timelineBox button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 26px;
  background: #a8c686;
  border-radius: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}
@media (max-width: 1438px) {
  .content {
    width: 265px;
  }
  .timelineContainer {
    margin: 100px 0;
  }
  .left {
    left: calc(50% - 410px);
  }
  .right {
    right: calc(50% - 410px);
  }
}
@media (max-width: 1023px) {
  .timeline {
    padding: 16px 20px;
    overflow: hidden;
  }
  .timelineContainer h2 {
    width: auto;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin: 0 20px;
  }
  .timelineItem {
    flex-direction: column-reverse;
    min-height: auto;
  }
  .timelineItem,
  .date {
    position: initial;
  }
  .content {
    position: relative !important;
  }
  .date,
  .content {
    width: 100%;
    margin-bottom: 20px;
  }
  .date {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 66px;
    gap: 15px;
  }
  .left,
  .right {
    left: 0;
    right: 0;
  }
  .timelineItem:not(:first-child):not(:last-child) .date,
  .timelineItem:first-child .date,
  .timelineItem:last-child .date {
    height: auto !important;
    border-radius: 20 !important;
    padding: 30px 0;
  }
  .bridge,
  .bridgeMob {
    display: block !important;
    width: 150px;
    height: 20px;
    top: calc(100% + 10px);
    left: 60px !important;
  }
  .bridgeMob {
    top: -10px;
  }
  .bridge::before,
  .bridgeMob::before {
    top: 0;
    left: 0 !important;
  }
  .bridge::after,
  .bridgeMob::after {
    bottom: 0;
    right: -15px !important;
    left: auto;
  }
  .timelineBox {
    flex-direction: column;
  }
  .timelineBox img {
    width: 40%;
    position: initial;
    margin-bottom: 20px;
    left: auto;
  }
  .timelineItem:first-child .bridgeMob {
    display: none !important;
  }
}
