.businessBlock {
  position: relative;
  margin-bottom: 100px;
}
.businessBlock h2 {
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.businessModel {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background: #ffffff;
  border-radius: 30px;
  padding: 50px;
}
.businessModel p,
.businessModel h3,
.businessModel li {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #2e2e2e;
}
.businessModel h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.businessModel li {
  list-style: disc;
  margin-left: 20px;
}
.businessModel > .twoBlock {
  width: 50%;
  display: inline-block;
}
.businessModel > img {
  width: 50%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1438px) {
  .businessBlock {
    padding: 0 20px;
  }
}
@media (max-width: 1023px) {
  .businessBlock h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }
  .businessModel {
    flex-direction: column;
    padding: 30px 20px;
  }
  .businessBlock {
    margin-bottom: 200px;
  }
  .twoBlock {
    width: 100% !important;
  }
}
