.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding: 80px 0 0 0;
  background-color: #f5f8f6;
  border-radius: 16px;
  align-items: start;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 20px;
}

.text {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.controls {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  position: relative;
}

.arrowL,
.arrowR {
  position: absolute;
  bottom: 0;
  left: 0 !important;
  margin-top: -60px;
}
.arrowR {
  left: 70px !important;
}

.arrow:hover {
  background: #d1d5db;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.swiper {
  width: 100%;
  height: 540px;
  padding-left: 25px;
}

.swiper :global(.swiper-wrapper) {
  flex-direction: column !important;
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 10px 6px 6px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  width: 100%;
}

.active {
  width: 85%;
  margin-left: auto;
  background: #a8c686;
  border: 2px solid #cccccc;
  position: relative;
}

.cardImage {
  min-width: 130px;
  height: 82px;
  border-radius: 14px;
  object-fit: cover;
}

.cardTitle {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.active .cardTitle {
  color: #fff;
}

.active.card {
  height: 96px;
  padding: 6px 10px 6px 95px;
}

.active .cardImage {
  position: absolute;
  min-width: 156px;
  left: -80px;
}
